<section data-ng-controller="EmployeesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Employee</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>

                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="employee.firstName" id="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="employee.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="role">Gender</label>
                    <div class="controls" id="gender">
                        <select ng-model="employee.gender" class="form-control" ng-options="gender for gender in genders track by gender"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="yearExp">Experience in Years</label>
                    <div class="controls">
                        <input type="text" data-ng-model="employee.yearExp" id="yearExp" class="form-control" placeholder="Experience in years" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="skills">Skills</label>
                    <div class="controls">
                        <!--<input type="text" data-ng-model="employee.skills" id="skills" class="form-control" placeholder="Space Separated Skills" required>-->
                        <tags-input ng-model="employee.skills" id="skills"  display-property="name"></tags-input>
                        (Press Enter to convert text to tag)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="organization">Organization</label>
                    <div class="controls" id="organization">
                        <select class="form-control" ng-model="employee.belongsTo"
                                ng-options="org._id as org.name for org in organizations track by org._id" ng-change="getProjectUrl(this)"></select>
                        <!--<editable-label data-ng-model="organizations.name" ></editable-label>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="projects">Projects</label>
                    <div class="controls" id="projects">
                        <div auto-complete url="{{projectURL}}"  model="employee.worksFor" ></div>
                        <!--<select ng-model="employee.worksFor"
                                ng-options="project._id as project.name for project in projects track by project._id ">
                        </select>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="role">Role</label>
                    <div class="controls" id="role">
                        <select class="form-control" ng-model="employee.role" ng-options="role as role for role in roles track by role"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="billable">Billable</label>
                    <div class="controls">
                        <input type="checkbox" id="billable" ng-model="employee.billable">
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="control-label" for="billable">Upload image</label>
                    <div class="controls">
                        <input type="file" data-ng-file-select="onFileSelect($files)" accept="image/png, image/jpeg">
                        <span data-ng-if="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
                        <img data-ng-src="uploadedImage" data-ng-if="uploadedImage">
                    </div>
                </div>-->

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
