<section data-ng-controller="OrganizationsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Organization</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="organization.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="owner">Owner</label>
                    <div class="controls" id="owner">
                        <!--<div auto-complete-owner url="organizations/owner" model="organization.owner" ></div>-->
                        <select ng-model="organization.owner" class="form-control"
                                ng-options="owner._id as owner.firstName +' '+ owner.lastName for owner in owners track by owner._id ">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="totalHeadCount">Total Head Count</label>
                    <div class="controls">
                        <input type="text" data-ng-model="organization.totalHeadCount" id="totalHeadCount" class="form-control" placeholder="Total Headcount" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="billableHeadCount">Billable Head Count</label>
                    <div class="controls">
                        <input type="text" data-ng-model="organization.billableHeadCount" id="billableHeadCount" class="form-control" placeholder="Billable Headcount" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="benchHeadCount">Bench Head Count</label>
                    <div class="controls">
                        <input type="text" data-ng-model="organization.benchHeadCount" id="benchHeadCount" class="form-control" placeholder="Bench Headcount" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
