<section data-ng-controller="OrganizationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Organizations</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group input-group-lg">
                    <input type="text" data-ng-model="searchText.name" class="form-control"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" >
                            <span class="glyphicon glyphicon-filter"></span> Filter
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row"><div class="col-md-12">&nbsp;</div></div>
    <div class="row">
        <div class="list-group">
        <div ng-repeat="organization in organizations | filter:searchText">
            <div class="col-xs-12 col-md-4">
                <div class="panel-wrapper">
                    <div class="panel-title">
                        <a data-ng-href="#!/organizations/{{organization._id}}" class="list-group-item">{{organization.name}}</a>
                    </div>
                    <div class="panel-stage">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel-wrapper">
                                    <div class="panel-title">
                                        Billable Vs Bench
                                    </div>
                                    <div class="panel-stage">
                                        <img src="images/area-chart.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel-wrapper">
                                    <div class="panel-title">
                                        Projects
                                    </div>
                                    <div class="panel-stage">
                                        <span data-ng-repeat="project in organization.projects">
                                            <span class="badge" data-ng-bind="project.name"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-notes">
                        Owned by {{organization.owner.firstName}} {{organization.owner.lastName}}
                    </div>
                </div>
            </div>
            <!--<a data-ng-href="#!/organizations/{{organization._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="organization.created | date:'medium'"></span>
                by
                <span data-ng-bind="organization.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="organization.name"></h4>
            </a>-->
        </div>
    </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!organizations.$resolved || organizations.length">
    	No Organizations yet, why don't you <a href="/#!/organizations/create">create one</a>?
    </div>
</section>
