<section data-ng-controller="OrganizationsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="organization.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == organization.user._id))">
		<a class="btn btn-primary" href="/#!/organizations/{{organization._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="panel-wrapper">
				<div class="panel-title">
					{{organization.name}}
				</div>
				<div class="panel-stage">
					<div class="row">
						<div class="col-xs-12">
							<div class="panel-wrapper">
								<div class="panel-title">
									Billable Vs Bench
								</div>
								<div class="panel-stage">
									<img src="images\area-chart.f713239c.png" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="panel-wrapper">
								<div class="panel-title">
									Projects
								</div>
								<div class="panel-stage">
									<span data-ng-repeat="project in organization.projects">
										<span class="badge" data-ng-bind="project.name"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="panel-wrapper">
								<div class="panel-title">
									<div class="row">
										<div class="col-xs-4"><label>Total Head Count</label></div>
										<div class="col-xs-4"><label>Billable Head Count</label></div>
										<div class="col-xs-4"><label>Bench Head Count</label></div>
									</div>
								</div>
								<div class="panel-stage">
									<div class="row">
										<div class="col-xs-4"><span data-ng-bind="organization.totalHeadCount"></span> </div>
										<div class="col-xs-4"><span data-ng-bind="organization.billableHeadCount"></span> </div>
										<div class="col-xs-4"><span data-ng-bind="organization.benchHeadCount"></span> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-notes">
					Owned by {{organization.owner.firstName}} {{organization.owner.lastName}}
				</div>
			</div>
		</div>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="organization.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="organization.user.displayName"></span>
		</em>
	</small>
</section>
