<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
	<div class="page-header">
		<a data-ng-href="#!/projects/{{project._id}}" ><h1 data-ng-bind="project.name"></h1></a>
	</div>
	<div class="panel-wrapper">
		<div class="panel-title">
			<div class="row">
				<div class="col-xs-9 col-md-9">&nbsp;</div>
				<div class="col-xs-1 col-md-1">
					<a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
						Edit
					</a>
				</div>
				<div class="col-xs-2 col-md-2">
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
						Delete
					</a>
				</div>
			</div>
		</div>
		<div class="panel-stage">
			<div class="row">
				<div class="col-xs-6">
					<div class="panel-wrapper">
						<div class="panel-title">Start Date</div>
						<div class="panel-stage">{{project.startDate | date:'longDate'}}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel-wrapper">
						<div class="panel-title">End Date/Ongoing</div>
						<div class="panel-stage">{{project.belongsTo.name}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="panel-wrapper">
						<div class="panel-title">Owners</div>
						<div class="panel-stage">{{project.owner.firstName}} {{project.owner.lastName}}</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="panel-wrapper">
						<div class="panel-title">Organization</div>
						<div class="panel-stage">{{project.belongsTo.name}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="panel-wrapper">
						<div class="panel-title">Total No. of People</div>
						<div class="panel-stage">{{project.totalHeadCount}}</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="panel-wrapper">
						<div class="panel-title">Billable Headcount</div>
						<div class="panel-stage">{{project.billableHeadCount}}</div>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="panel-wrapper">
						<div class="panel-title">Bench Head Count</div>
						<div class="panel-stage">{{project.benchHeadCount}}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="panel-wrapper">
						<div class="panel-title"><label>Members</label></div>
						<div class="panel-stage">
							<span data-ng-repeat="member in project.members">
								{{member.firstName}} {{member.lastName}}
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>
</section>
